[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/hardmode"]
	path = sources_non_forked/hardmode
	url = https://github.com/wikitopian/hardmode.git
